:root {
  --pioneer-color: #69bd99;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  /* direction: rtl; */
  font-family: 'Cairo', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--pioneer-color);
  font-size: 4.5em;
  line-height: 1.3;
  font-weight: 700;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.7em;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-200px) rotate(10deg);
    opacity: 0;
  }
  50% {
    transform: translateY(10px) rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

.pioneer-name {
  color: var(--pioneer-color);
}

.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner-section img,
.body-section img {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header-section {
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container > img {
  inline-size: 250px;
  object-fit: contain;
}

.intro-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-block: 70px;
}

.offer-logo {
  position: absolute;
  inset: 0;
  block-size: 100%;
  top: -150px;
  left: 50px;
  z-index: -1;
  object-fit: contain;
}

.hidden {
  opacity: 0;
  transform: translateY(-200px) rotate(10deg);
}

.animate-offer-logo {
  opacity: 0;
  will-change: opacity, transform;
  animation: dropAnimation 2s ease-out forwards;
  transform-origin: top center;
}

.offer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding-inline: 60px;
  text-align: right;
  direction: rtl;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  overflow: hidden;
}

.features-title {
  font-size: 3em;
}

.features-section-1,
.features-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.features-section img {
  inline-size: 25%;
  block-size: auto;
  object-fit: cover;
  opacity: 1;
}

/* .features-section-1 img:nth-of-type(1).is-visible {
  animation: slide-in-right 1s forwards;
}

.features-section-1 img:nth-of-type(2).is-visible {
  animation: slide-in-left 1s forwards 1s;
}

.features-section-2 img:nth-of-type(1).is-visible {
  animation: slide-in-right 1s forwards 2s;
}

.features-section-2 img:nth-of-type(2).is-visible {
  animation: slide-in-left 1s forwards 3s;
} */

.footer-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-block: 70px;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding-inline: 60px;
  text-align: right;
  direction: rtl;
}

.footer-logo {
  position: absolute;
  inset: 0;
  top: 150px;
  left: 50px;
  block-size: 450px;
  inline-size: auto;
  z-index: -1;
  object-fit: contain;
}

.footer-container__section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 2rem; */
}
.footer-container__section-1 h2 {
  line-height: 1.3;
}

.footer-container__section-2 {
  display: flex;
  flex-direction: column;
}

.phone-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.phone-wrap .phone-numbers {
  text-align: left;
  direction: ltr;
}

.pioneer-link {
  margin-right: 1rem;
}

.pioneer-link a {
  text-decoration: none;
}

.pioneer-link a:active {
  color: #00714a;
}

.brand-section {
  text-align: center;
  direction: rtl;
}
