:root {
  --pioneer-color: #69bd99;
  --font-scale-factor: 1;
}

html,
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: #fff;
  /* direction: rtl; */
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  /* Set the initial scale factor */
  transform: scale(var(--scale-factor, 1));
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: var(--pioneer-color);
  font-size: 4.5em;
  line-height: 1.3;
  font-weight: 700;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.1em;
}

h4 {
  font-size: 1.7em;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-200px) rotate(10deg);
    opacity: 0;
  }
  50% {
    transform: translateY(10px) rotate(-3deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    opacity: 1;
  }
}

.pioneer-name {
  color: var(--pioneer-color);
}

.banner-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.banner-section img,
.body-section img {
  inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.header-section {
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container > img {
  inline-size: 250px;
  object-fit: contain;
}

.intro-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-block: 70px;
}

.offer-logo {
  position: absolute;
  inset: 0;
  block-size: 100%;
  top: -150px;
  left: 50px;
  z-index: -1;
  object-fit: contain;
}

.hidden {
  opacity: 0;
  transform: translateY(-200px) rotate(10deg);
}

.animate-offer-logo {
  opacity: 0;
  will-change: opacity, transform;
  animation: dropAnimation 2s ease-out forwards;
  transform-origin: top center;
}

.offer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding-inline: 60px;
  text-align: right;
  direction: rtl;
  /* max-width: 50%; */
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  overflow: hidden;
}

.features-title {
  font-size: 3em;
}

.features-section-1,
.features-section-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.features-section img {
  inline-size: 25%;
  block-size: auto;
  object-fit: cover;
  opacity: 0;
}

.features-section-1 img:nth-of-type(1).is-visible {
  animation: slide-in-right 1s forwards;
}

.features-section-1 img:nth-of-type(2).is-visible {
  animation: slide-in-left 1s forwards 1s;
}

.features-section-2 img:nth-of-type(1).is-visible {
  animation: slide-in-right 1s forwards 2s;
}

.features-section-2 img:nth-of-type(2).is-visible {
  animation: slide-in-left 1s forwards 3s;
}

.footer-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-block: 70px;
  overflow: hidden;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding-inline: 60px;
  text-align: right;
  direction: rtl;
}

.footer-logo {
  position: absolute;
  inset: 0;
  top: 150px;
  left: 50px;
  block-size: 450px;
  inline-size: auto;
  z-index: -1;
  object-fit: contain;
}

.footer-container__section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-container__section-1 h2 {
  line-height: 1.3;
}

.footer-container__section-2 {
  display: flex;
  flex-direction: column;
}

.phone-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.phone-wrap .phone-numbers {
  text-align: left;
  direction: ltr;
}

.pioneer-link {
  margin-right: 1rem;
}

.pioneer-link a {
  text-decoration: none;
}

.pioneer-link a:active {
  color: #00714a;
}

.brand-section {
  text-align: center;
  direction: rtl;
}

@media (max-width: 1400px) {
  h1 {
    font-size: calc(4.5 / (var(--font-scale-factor) * 1.5) * 1em);
    line-height: 1.3;
  }

  h2 {
    font-size: calc(2.8 / (var(--font-scale-factor) * 1.5) * 1em);
  }

  h3 {
    font-size: calc(2.1 / (var(--font-scale-factor) * 1.5) * 1em);
  }

  h4 {
    font-size: calc(1.7 / (var(--font-scale-factor) * 1.5) * 1em);
  }

  .header-section {
    padding: 30px 45px;
  }

  .logo-container > img {
    inline-size: 200px;
  }

  .intro-section {
    padding-block: 60px;
  }

  .offer-logo {
    block-size: 80%;
    top: -15px;
    left: 30px;
  }

  .offer-container {
    gap: 3rem;
    padding-inline: 40px;
  }

  .intro {
    gap: 2rem;
  }

  .features-title {
    font-size: 2.5em;
    /* line-height: 1.5; */
  }

  .features-section img {
    inline-size: 30%;
  }

  .footer-section {
    padding-block: 60px;
  }

  .footer-container {
    padding-inline: 40px;
    gap: 3rem;
  }

  .footer-logo {
    top: 120px;
    left: 20px;
    block-size: 300px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: calc(4.5 / (var(--font-scale-factor) * 2) * 1em);
    line-height: 1.3;
  }

  h2 {
    font-size: calc(2.8 / (var(--font-scale-factor) * 2) * 1em);
  }

  h3 {
    font-size: calc(2.1 / (var(--font-scale-factor) * 2) * 1em);
  }

  h4 {
    font-size: calc(1.7 / (var(--font-scale-factor) * 2) * 1em);
  }

  .header-section {
    padding: 20px 35px;
  }

  .logo-container > img {
    inline-size: 150px;
  }

  .intro-section {
    padding-block: 40px;
  }

  .offer-logo {
    block-size: 80%;
    top: -15px;
    left: 30px;
  }

  .offer-container {
    gap: 2rem;
    padding-inline: 30px;
  }

  .intro {
    gap: 1rem;
  }

  .features-title {
    font-size: 2em;
    /* line-height: 1.5; */
  }

  .features-section img {
    inline-size: 30%;
  }

  .footer-section {
    padding-block: 40px;
  }

  .footer-container {
    padding-inline: 30px;
    gap: 1.5rem;
  }

  .footer-logo {
    top: 90px;
    left: 10px;
    block-size: 250px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: calc(4.5 / (var(--font-scale-factor) * 3) * 1em);
    line-height: 1.3;
  }

  h2 {
    font-size: calc(2.8 / (var(--font-scale-factor) * 3) * 1em);
  }

  h3 {
    font-size: calc(2.1 / (var(--font-scale-factor) * 3) * 1em);
  }

  h4 {
    font-size: calc(1.7 / (var(--font-scale-factor) * 3) * 1em);
  }

  .header-section {
    padding: 10px 25px;
  }

  .logo-container > img {
    inline-size: 100px;
  }

  .intro-section {
    padding-block: 30px;
  }

  .offer-logo {
    block-size: 60%;
    top: -10px;
    left: 20px;
  }

  .offer-container {
    gap: 1rem;
    padding-inline: 20px;
    max-width: 70%;
  }

  .intro {
    gap: 0.5rem;
  }

  .features-title {
    font-size: 1.5em;
    line-height: 1.5;
  }

  .features-section img {
    inline-size: 30%;
  }

  .footer-section {
    padding-block: 30px;
  }

  .footer-container {
    padding-inline: 20px;
    gap: 1rem;
  }

  .footer-logo {
    top: 35%;
    left: 10px;
    block-size: 100px;
  }
}
